.card{
  background: lightgray;
  box-sizing:border-box;
  margin: 100px auto;
  padding: 10px;
  border-radius:8px;
  display:flex;
  text-decoration:none;
  color:black;
  text-align:center;
  max-width: 40ch;
}

.card:hover{
  box-shadow: 0 3px 5px 0 black;
}

img{
  display:block;
  width: 100%
}